################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BethanyPieShopHRSM/.vs/BethanyPieShopHRSM/v17/.futdcache.v1
/BethanyPieShopHRSM/bin/*
/BethanyPieShopHRSM/BethanyPieShopHRSM/bin/Debug/net6.0
/BethanyPieShopHRSM/BethanysPieShopHRM.Shared/bin/Debug/net6.0
/BethanyPieShopHRSM/BethanysPieShopHRM.Shared/obj/Debug/net6.0
/BethanyPieShopHRSM/BethanysPieShopHRM.Shared/obj
/BethanyPieShopHRSM/BethanyPieShopHRSM/obj/Debug/net6.0/build-gz
/.vs/
/BethanyPieShopHRSM/BethanyPieShopHRSM/obj/Debug/net6.0
/BethanyPieShopHRSM/BethanyPieShopHRSM/obj
/BethanyPieShopHRSM/.vs/BethanyPieShopHRSM/v17
/BethanyPieShopHRSM/BethanysPieShopHRM.Api/bin/Debug/net6.0
/BethanyPieShopHRSM/BethanysPieShopHRM.Api/obj
AWS3/AwsCSEDemo/.vs/AwsCSEDemo/DesignTimeBuild/.dtbcache.v2
AWS3/AwsCSEDemo/.vs/AwsCSEDemo/v17/.suo
AWS3/AwsCSEDemo/AwsCSEDemo/bin/Debug/net6.0/AwsCSEDemo.deps.json
AWS3/AwsCSEDemo/AwsCSEDemo/bin/Debug/net6.0/AwsCSEDemo.dll
AWS3/AwsCSEDemo/AwsCSEDemo/bin/Debug/net6.0/AwsCSEDemo.exe
AWS3/AwsCSEDemo/AwsCSEDemo/bin/Debug/net6.0/AwsCSEDemo.pdb
AWS3/AwsCSEDemo/AwsCSEDemo/bin/Debug/net6.0/AwsCSEDemo.runtimeconfig.json
AWS3/AwsCSEDemo/AwsCSEDemo/bin/Debug/net6.0/AWSSDK.Core.dll
AWS3/AwsCSEDemo/AwsCSEDemo/bin/Debug/net6.0/AWSSDK.KeyManagementService.dll
AWS3/AwsCSEDemo/AwsCSEDemo/bin/Debug/net6.0/AWSSDK.S3.dll
AWS3/AwsCSEDemo/AwsCSEDemo/obj/AwsCSEDemo.csproj.nuget.dgspec.json
AWS3/AwsCSEDemo/AwsCSEDemo/obj/AwsCSEDemo.csproj.nuget.g.props
AWS3/AwsCSEDemo/AwsCSEDemo/obj/AwsCSEDemo.csproj.nuget.g.targets
AWS3/AwsCSEDemo/AwsCSEDemo/obj/project.assets.json
AWS3/AwsCSEDemo/AwsCSEDemo/obj/project.nuget.cache
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/apphost.exe
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.AssemblyInfo.cs
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.AssemblyInfoInputs.cache
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.assets.cache
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.csproj.AssemblyReference.cache
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.csproj.BuildWithSkipAnalyzers
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.csproj.CopyComplete
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.csproj.CoreCompileInputs.cache
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.csproj.FileListAbsolute.txt
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.dll
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.GeneratedMSBuildEditorConfig.editorconfig
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.genruntimeconfig.cache
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.GlobalUsings.g.cs
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/AwsCSEDemo.pdb
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/ref/AwsCSEDemo.dll
AWS3/AwsCSEDemo/AwsCSEDemo/obj/Debug/net6.0/refint/AwsCSEDemo.dll
